.row {
    margin: 2rem;
    text-align: center;
    
}
.table-row{
    padding-left: 8%;
}
table{
    border: 1px solid black;
    background-color: gold;
   text-align: center;
    width: 100%;
    height: 100%;
}

h5{
    text-align: left;
    padding-left: 32%;
}
