<div class="border"> 
    <table class="table table-bordered" style="width: 100%;text-align: center">
      <thead>
        <tr>
          <th>Title</th>
          <th>Duration(Minutes)</th>
          <th>Genre</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let song of songservice.songlist">
         <td>{{song.title}}</td>
          <td>{{song.duration}}</td>
          <td>{{song.gen}}</td>
          <td><button class="btn" (click)="remove(song.id)"><i class="fa fa-close"></i></button></td>
        </tr>
      </tbody>
    </table>
  </div>
